html {
    min-height: 100%;
    background-color: #242526;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2%;
    justify-content: center;
    overflow: hidden;
}

#grid-boxes {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    column-gap: 40px;
    row-gap: 50px;
}

.box-outlines:hover{
 box-shadow: 10px 10px 10px aqua;
 transition: 0.8s;
}

.box-outlines{
    padding: 8px;
    border: dashed 3px purple;
    border-radius: 25px;
}

#box1 {
    border: dashed 3px purple;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    color: purple;
}

#box4{
height: 200px;
}

#box5{
height: 200px;
}

#box6{
height: 200px;
}

#box7{
height:200px;
}

.text-box-text{
    border-radius: 10px;
    background-image: linear-gradient(purple, aqua);
  padding: 20px;
  line-height: 20px;
  margin-top: 10px;
  height: 95px;

}

h2 {
    color: purple;
    position: relative;
    margin-top: -25px;
    text-align: center;
    border: dashed 3px purple;
    background-color: #242526;
    width: 400px;
    left: 50px;
}

h3 {
    color: purple;
}