html {
    min-height: 100%;
    background-color: #242526;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2%;
    justify-content: center;
    overflow: hidden;
}

#grid {
    display: grid;
    margin-top: 75px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    column-gap: 50px;
    row-gap: 50px;
}

.box-outlines{
    padding: 8px;
    border: solid 3px black;
}

#box1 {
    
}

#box2{

}

#box3{

}

#box4{
height: 200px;
}

#box5{
height: 200px;
}

#box6{
height: 200px;
}

#box7{
height:200px;
}
